<a href="https://colab.research.google.com/github/miinnnoooo/Introduction-to-Computers/blob/main/0530.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hi")

hi

九九乘法表

In [14]:
for i in range(2,10):
  for j in range(1,10):
    product = i*j
    print("%d*%d=%2d" % (i,j,product),end=" ")
  print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [10]:
print('hi')

hi

最小公倍數

In [17]:
a = int(input('請輸入a的值'))
b = int(input('請輸入b的值'))
maxno = a * b
for i in range(1,maxno+1):
  if(i % a == 0 and i %b == 0):
    break
print('%d和%d的最小公倍數 = %d'%(a,b,i))

請輸入a的值4
請輸入b的值5
4和5的最小公倍數 = 20

排除數列中5的倍數

In [18]:
n = int(input('請輸入正整數:'))
for i in range(1,n+1):
  if i % 5 == 0:
    continue
  print(i,end=' ')

請輸入正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21

while

In [19]:
total = n = 0
while (n <= 10):
  total += n
  n +=1
print(total)

55

In [20]:
total = n = 0
while n <= 10:
  total += n
  n +=1
print(total)

55

In [25]:
total = n = 0
while n <= 10:
  total += n
  n += 1
print(total)

55

In [26]:
total = i = 1
n = int(input('請輸入正整數n的值:'))
while i <= n:
  total *= i
  i+=1
print("%d!=%d"%(n,total))

請輸入正整數n的值:100
100!=93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [76]:
totalodd = totaleven = n = 0 

while n <= 50:
  if n%2 == 0 :
    totaleven += n
  else :
    totalodd += n
  n += 1
  
print('0-50的偶數和結果是',totaleven)
print('0-50的奇數和結果是',totalodd)

0-50的偶數和結果是 650
0-50的奇數和結果是 625

In [84]:
number = int(input('請輸入正整數:'))
star = ''
while number > 0:
  m = number
  star = ''
  for m in range(1,m+1): 
    star += '*'
  print(star)
  number -= 1

請輸入正整數:7
*******
******
*****
****
***
**
*

In [85]:
number = int(input('請輸入正整數:'))
star = ''
while number > 0:
  m = number
  star = ''
  for m in range(1,m+1): 
    star += '*'
  print(star)
  number -= 1

請輸入正整數:5
*****
****
***
**
*

In [77]:
total = n = 0 

while n <= 100:
  if n%3 == 0 or n%7 == 0:
    total += n
  n += 1
  
print('數值1-100中，所有是3或7倍數的數之總和=',total)

數值1-100中，所有是3或7倍數的數之總和= 2208

In [81]:
number = int(input('請輸入正整數:'))
ans = ''
ans2 = ' 是質數'

n = 1
while n <= number:
  if number%n == 0 :
    ans += str(n) + ' ' 
    if n > 1 and n < number :
      ans2 = ' 不是質數'  

  n += 1

print(str(number),' 的因數有 ',ans)
print(str(number),ans2)

請輸入正整數:12
12 的因數有 1 2 3 4 6 12
12 不是質數

In [83]:
number = int(input('請輸入正整數:'))
ans = ''
ans2 = ' 是質數'

n = 1
while n <= number:
  if number%n == 0 :
    ans += str(n) + ' ' 
    if n > 1 and n < number :
      ans2 = ' 不是質數'  

  n += 1

print(str(number),' 的因數有 ',ans)
print(str(number),ans2)

請輸入正整數:11
11  的因數有  1 11
11  是質數